<h1> BMI 計算機 </h1>

<%= form_tag('/bmi_result.php',method: :post) do %>

 身高：<input type='text' name='height' />cm
 體重：<input type='text' name='weight' /> kg
 <input type="submit" value='計算' %> 
 
<% end %>
<h1> xxx </h1>